#set($pascalFileName = $this.pascalCase($this.getFileName()))
import ${pascalFileName}.AnotherMessage;
import ${pascalFileName}.GenerateMessage;

/**
 * Destination file.
 */
public final class ${pascalFileName} {
  /**
   * Another message.
   */
  private static final class AnotherMessage {
    private static String generateAnotherMessage() {
      return "$this.getAttributeByName("AnotherMessage", "")";
    }
  }

  /**
   * Generate message.
   */
  private static final class GenerateMessage {
    private static String generateMessage() {
      return "$this.getAttributeByName("GenerateMessage", "")";
    }
  }

  /**
   * Main.
   *
   * @param args arguments
   */
  public static void main(final String[] args) {

    System.out.println(GenerateMessage.generateMessage());
    System.out.println(AnotherMessage.generateAnotherMessage());
  }

  private ${pascalFileName}() {}
}
